ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
      margin-left: 8px;
  }
  
  li a{
      display: block;
      margin-left: 15px;
      text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* .tabbable {
    position: relative;
   } */
   
   /* .valign {
     position: absolute;
     top: 0;
     right: 0;
     transform: translateY(50%);
   } */
  
  
  /* #left{
      float: right;
  } */

  img{
    width: 500px;
    height: 500px;
}
button .tabbable {
    float: right;
}