.panelwrap{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25em;
    transition: .3s ease-out;
}

.panel{
    position: absolute;
    top: 0;
    bottom: 0;
    background: blue;
    overflow: auto;
    padding: 1em;
}

